@charset "UTF-8";
html,
body {
    font-family: Helvetica, "microsoft yahei";
    margin: 0px;
    padding: 0px;
    color: white;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pc-ct-wrapperone {
    background: url("../images/wrapperonebg.jpg") no-repeat center top;
    width: 100%;
    height: 986px;
    overflow: hidden;
    min-width: 1224px;
}

.pc-main-wrapperone {
    padding-top: 89px;
    width: 1224px;
    height: 986px;
    margin: 0 auto;
    padding-left: 27px;
    position: relative;
}

.wrapperonetop {
    margin-bottom: 108px;
}

.wraponetop-left {
    width: 447px;
    margin-right: 142px;
}

.title {
    height: 97px;
    margin-bottom: 44px;
}

.title img {
    width: 97px;
    height: 97px;
    float: left;
}

.title span {
    font-size: 80px;
    height: 97px;
    line-height: 97px;
    float: right;
}

.introduceone {
    font-size: 35.83px;
    margin-bottom: 11px;
    color: #FEFEFE;
}

.introducetwo {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 28px;
    color: #FFFFFF;
}

.introducethree {
    margin-bottom: 11px;
    font-size: 16px;
    color: #D8E6D7;
}
.introducethree span{
  display: inline-block;
  width: 48%;
}
.introducefour {
    font-size: 16px;
    margin-bottom: 24px;
    color: #D8E6D7;
}
.introducefour span{
  display: inline-block;
  width: 48%;
}
#downurl {
    width: 439px;
    height: 65px;
    line-height: 65px;
    background: #0099ff;
    border-radius: 5px;
    font-size: 33px;
    color: #FEFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
}
#managementurl {
    width: 439px;
    height: 65px;
    line-height: 65px;
    background: #0099ff;
    border-radius: 5px;
    font-size: 33px;
    color: #FEFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
}

.wraponetop-right {
    position: absolute;
    left: 536px;
    top: 150px;
    width: 1000px;
    height: 625px;
}

.wraponetop-right img {
    width: 1000px;
    height: 625px;
}

.wrapperonebottom .nav li {
    float: left;
    margin-right: 109px;
}

.wrapperonebottom .nav .navlione {
    margin-left: -27px;
}

.wrapperonebottom .nav .navlisix {
    margin-right: 0px;
}

.pc-ct-wrappertwo {
    background: #EEEEEE;
    width: 100%;
    height: 878px;
    min-width: 1224px;
}

.pc-main-wrappertwo {
    width: 1224px;
    height: 878px;
    margin: 0 auto;
    padding-top: 75px;
}

.wrappertwotop {
    margin-bottom: 88px;
    height: 320px;
}

.wrappertwotop .wrappertwotop-left {
    color: #999999;
    font-size: 24px;
    float: left;
    margin-top: 90px;
    margin-left:27px;
}

.wrappertwotop-left .tpltitle,
.wrappertwobottom-right .tpltitle {
    font-size: 37px;
    color: #444444;
    margin-bottom: 17px;
    display: inline-block;
}

.interval{
    display:inline-block;
    margin-bottom:8px;
}

.wrappertwotop .wrappertwotop-right {
    float: right;
    width: 650px;
    height: 320px;
    margin-right: 54px;
}

.wrappertwotop .wrappertwotop-right img,
.wrappertwobottom .wrappertwobottom-left img {
    width: 650px;
    height: 320px;
}

.wrappertwobottom .wrappertwobottom-left {
    width: 650px;
    height: 320px;
    float: left;
}

.wrappertwobottom .wrappertwobottom-right {
    float: right;
    color: #999999;
    font-size: 24px;
    margin-right: 27px;
    margin-top: 89px;
    text-align: right;
}

.pc-ct-wrapperfooter {
    width: 100%;
    height: 72px;
    background: #161616;
    min-width: 1224px;
}

.pc-main-wrapperfooter {
    width: 1224px;
    height: 72px;
    line-height: 24px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    color: #D6D6D6;
}

.pc-main-wrapperfooter .blogroll .copyright {
    float: right;
}

.pc-main-wrapperfooter a {
    /*margin-left: 20px;*/
    color: #999999;
    text-decoration: none;
}
.copyright a{
  color: #D6D6D6;
}
.copyright a:hover {
  color: #008aff;
  text-decoration: underline;
}